@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

.App-logo {
  pointer-events: none;

}
#App-logo{
  padding:0;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#carousel-container{
  max-height:20vh;
}

.slide{
 height: 65vh;
  width:100%;
}

#bright-content{
  height: 2vh;
  width:20%;
  margin-left:40%;
  padding-top:5%;
  margin-top:5%;
}
#bright-content-header{
  font-size:50px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom:3%;
  padding-top:2%;
  padding-left:10%;
  padding-right:10%;
}
.header-first{
  background-color:rgba(0, 0, 0, 0.7);
  color: rgb(157, 219, 11);
  box-shadow: 5px 4px 4px 1px rgba(157, 219, 11,0.7);
 }

.header-second{
  background-color:rgba(0, 0, 0, 0.7);
  color: rgba(11,192,219,1);
  box-shadow: 5px 4px 4px 1px rgba(11,192,219,1);
 }

.header-third{
  background-color:rgba(255, 255, 255, 0.7);
  color: rgb(0,0,0);
  box-shadow: 5px 4px 4px 1px rgba(200, 200, 100,1);
 }

 .header-fourth{
  background-color:rgba(0, 0, 0, 0.7);
  color: rgb(255,255,255);
  box-shadow: 5px 4px 4px 1px rgba(255, 250, 255,0.8);
 }

.experience-section{
height:100vh;

border:1px solid black;
}

.basic-exp-card{
  height: 25vh;
  border: 1px solid red;
  margin-top:2%;
  margin-left:2%;
  margin-right:2%;
  padding :5%;
}

ul{
  list-style-type: none;
}

#company-logo{
  height: 256px;
  position: absolute;
  left: 60%;
  border-left: 1px solid black;
}

.hard-margin{
  margin-bottom: 50px;
}

.skills-container{
  margin: 0 5% 0 5%;
}



.main-body-app{
  background-color: rgba(0,0,0,0.75);


}

.footer-section{
  display:grid;
  grid-template-columns: 25% 70%;
}

.contact-me{
  height: 500px;
}


.my-profile{
  margin-left:20%;
}

.experience-card-container{
  margin: 0 5% 0 5%;
}

.skill-card-img{
  color:red;
}

.heading {
	font-size:3rem;
	font-weight:700;
	text-transform:uppercase;
  margin-bottom: 1.9rem;
  text-align: center;
  color:hsl(171, 95%, 70%);
  text-decoration: underline;
}

.heading-underline{
		width:3rem;
		height:0.2rem;
		background-color: hsl(171, 95%, 70%);
		margin:0 auto 2rem;
	
}